@font-face {
  font-family: 'Tenor';
  src: url('/fonts/Tenor_Sans/TenorSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maza';
  src: url('/fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}